<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Zombie1.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 22}, {86, 120}}</string>
			<key>spriteOffset</key>
			<string>{23, -10}</string>
			<key>spriteSize</key>
			<string>{86, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 240}, {86, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie10.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 22}, {68, 122}}</string>
			<key>spriteOffset</key>
			<string>{20, -11}</string>
			<key>spriteSize</key>
			<string>{68, 122}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 0}, {68, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie11.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 23}, {68, 120}}</string>
			<key>spriteOffset</key>
			<string>{19, -11}</string>
			<key>spriteSize</key>
			<string>{68, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 242}, {68, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie12.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 24}, {70, 118}}</string>
			<key>spriteOffset</key>
			<string>{19, -11}</string>
			<key>spriteSize</key>
			<string>{70, 118}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 0}, {70, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie13.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 26}, {76, 116}}</string>
			<key>spriteOffset</key>
			<string>{19, -12}</string>
			<key>spriteSize</key>
			<string>{76, 116}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 124}, {76, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie14.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 27}, {78, 116}}</string>
			<key>spriteOffset</key>
			<string>{19, -13}</string>
			<key>spriteSize</key>
			<string>{78, 116}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 362}, {78, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie15.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 27}, {76, 116}}</string>
			<key>spriteOffset</key>
			<string>{19, -13}</string>
			<key>spriteSize</key>
			<string>{76, 116}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 122}, {76, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie16.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 27}, {76, 116}}</string>
			<key>spriteOffset</key>
			<string>{19, -13}</string>
			<key>spriteSize</key>
			<string>{76, 116}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 368}, {76, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie17.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 24}, {72, 118}}</string>
			<key>spriteOffset</key>
			<string>{18, -11}</string>
			<key>spriteSize</key>
			<string>{72, 118}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 0}, {72, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie18.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 23}, {68, 120}}</string>
			<key>spriteOffset</key>
			<string>{16, -11}</string>
			<key>spriteSize</key>
			<string>{68, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 242}, {68, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie19.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 22}, {72, 120}}</string>
			<key>spriteOffset</key>
			<string>{18, -10}</string>
			<key>spriteSize</key>
			<string>{72, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{388, 0}, {72, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie2.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 24}, {88, 118}}</string>
			<key>spriteOffset</key>
			<string>{24, -11}</string>
			<key>spriteSize</key>
			<string>{88, 118}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 0}, {88, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie20.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 22}, {74, 120}}</string>
			<key>spriteOffset</key>
			<string>{19, -10}</string>
			<key>spriteSize</key>
			<string>{74, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 364}, {74, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie21.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 20}, {78, 122}}</string>
			<key>spriteOffset</key>
			<string>{22, -9}</string>
			<key>spriteSize</key>
			<string>{78, 122}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 120}, {78, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie22.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 21}, {80, 122}}</string>
			<key>spriteOffset</key>
			<string>{22, -10}</string>
			<key>spriteSize</key>
			<string>{80, 122}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {80, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie3.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 26}, {88, 118}}</string>
			<key>spriteOffset</key>
			<string>{24, -13}</string>
			<key>spriteSize</key>
			<string>{88, 118}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 120}, {88, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie4.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 27}, {86, 116}}</string>
			<key>spriteOffset</key>
			<string>{23, -13}</string>
			<key>spriteSize</key>
			<string>{86, 116}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 244}, {86, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie5.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 26}, {80, 118}}</string>
			<key>spriteOffset</key>
			<string>{21, -13}</string>
			<key>spriteSize</key>
			<string>{80, 118}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 124}, {80, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie6.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 24}, {76, 120}}</string>
			<key>spriteOffset</key>
			<string>{20, -12}</string>
			<key>spriteSize</key>
			<string>{76, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 362}, {76, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie7.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 24}, {74, 120}}</string>
			<key>spriteOffset</key>
			<string>{20, -12}</string>
			<key>spriteSize</key>
			<string>{74, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 364}, {74, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie8.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 22}, {72, 122}}</string>
			<key>spriteOffset</key>
			<string>{20, -11}</string>
			<key>spriteSize</key>
			<string>{72, 122}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 244}, {72, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie9.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 22}, {68, 122}}</string>
			<key>spriteOffset</key>
			<string>{20, -11}</string>
			<key>spriteSize</key>
			<string>{68, 122}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 240}, {68, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>Jiangshi</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>Jiangshi</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>