<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Peashooter1.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {63, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{63, 71}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{398, 118}, {63, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Peashooter10.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {61, 63}}</string>
			<key>spriteOffset</key>
			<string>{-5, -3}</string>
			<key>spriteSize</key>
			<string>{61, 63}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{513, 355}, {61, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Peashooter11.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {63, 63}}</string>
			<key>spriteOffset</key>
			<string>{-4, -4}</string>
			<key>spriteSize</key>
			<string>{63, 63}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 142}, {63, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Peashooter12.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {63, 69}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{63, 69}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{463, 146}, {63, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Peashooter13.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {63, 71}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{63, 71}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{448, 356}, {63, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Peashooter2.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {63, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{63, 71}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{400, 0}, {63, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Peashooter3.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 4}, {63, 67}}</string>
			<key>spriteOffset</key>
			<string>{2, -2}</string>
			<key>spriteSize</key>
			<string>{63, 67}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 217}, {63, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Peashooter4.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 6}, {63, 65}}</string>
			<key>spriteOffset</key>
			<string>{4, -3}</string>
			<key>spriteSize</key>
			<string>{63, 65}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{530, 0}, {63, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Peashooter5.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 4}, {63, 67}}</string>
			<key>spriteOffset</key>
			<string>{1, -2}</string>
			<key>spriteSize</key>
			<string>{63, 67}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{528, 73}, {63, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Peashooter6.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {63, 71}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{63, 71}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{448, 429}, {63, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Peashooter7.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {63, 71}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{63, 71}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{465, 0}, {63, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Peashooter8.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {63, 71}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{63, 71}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{463, 73}, {63, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Peashooter9.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {63, 67}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{63, 67}</string>
			<key>spriteSourceSize</key>
			<string>{71, 71}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{472, 286}, {63, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie1.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 22}, {86, 120}}</string>
			<key>spriteOffset</key>
			<string>{23, -10}</string>
			<key>spriteSize</key>
			<string>{86, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 248}, {86, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie10.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 22}, {68, 122}}</string>
			<key>spriteOffset</key>
			<string>{20, -11}</string>
			<key>spriteSize</key>
			<string>{68, 122}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 372}, {68, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie11.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 23}, {68, 120}}</string>
			<key>spriteOffset</key>
			<string>{19, -11}</string>
			<key>spriteSize</key>
			<string>{68, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 244}, {68, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie12.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 24}, {70, 118}}</string>
			<key>spriteOffset</key>
			<string>{19, -11}</string>
			<key>spriteSize</key>
			<string>{70, 118}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 362}, {70, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie13.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 26}, {76, 116}}</string>
			<key>spriteOffset</key>
			<string>{19, -12}</string>
			<key>spriteSize</key>
			<string>{76, 116}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 360}, {76, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie14.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 27}, {78, 116}}</string>
			<key>spriteOffset</key>
			<string>{19, -13}</string>
			<key>spriteSize</key>
			<string>{78, 116}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{318, 120}, {78, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie15.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 27}, {76, 116}}</string>
			<key>spriteOffset</key>
			<string>{19, -13}</string>
			<key>spriteSize</key>
			<string>{76, 116}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{394, 238}, {76, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie16.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 27}, {76, 116}}</string>
			<key>spriteOffset</key>
			<string>{19, -13}</string>
			<key>spriteSize</key>
			<string>{76, 116}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 0}, {76, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie17.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 24}, {72, 118}}</string>
			<key>spriteOffset</key>
			<string>{18, -11}</string>
			<key>spriteSize</key>
			<string>{72, 118}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 242}, {72, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie18.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 23}, {68, 120}}</string>
			<key>spriteOffset</key>
			<string>{16, -11}</string>
			<key>spriteSize</key>
			<string>{68, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 122}, {68, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie19.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 22}, {72, 120}}</string>
			<key>spriteOffset</key>
			<string>{18, -10}</string>
			<key>spriteSize</key>
			<string>{72, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 0}, {72, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie2.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 24}, {88, 118}}</string>
			<key>spriteOffset</key>
			<string>{24, -11}</string>
			<key>spriteSize</key>
			<string>{88, 118}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{232, 0}, {88, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie20.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 22}, {74, 120}}</string>
			<key>spriteOffset</key>
			<string>{19, -10}</string>
			<key>spriteSize</key>
			<string>{74, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{140, 370}, {74, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie21.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 20}, {78, 122}}</string>
			<key>spriteOffset</key>
			<string>{22, -9}</string>
			<key>spriteSize</key>
			<string>{78, 122}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 124}, {78, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie22.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 21}, {80, 122}}</string>
			<key>spriteOffset</key>
			<string>{22, -10}</string>
			<key>spriteSize</key>
			<string>{80, 122}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {80, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie3.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 26}, {88, 118}}</string>
			<key>spriteOffset</key>
			<string>{24, -13}</string>
			<key>spriteSize</key>
			<string>{88, 118}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 122}, {88, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie4.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{63, 27}, {86, 116}}</string>
			<key>spriteOffset</key>
			<string>{23, -13}</string>
			<key>spriteSize</key>
			<string>{86, 116}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 242}, {86, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie5.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 26}, {80, 118}}</string>
			<key>spriteOffset</key>
			<string>{21, -13}</string>
			<key>spriteSize</key>
			<string>{80, 118}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 366}, {80, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie6.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{65, 24}, {76, 120}}</string>
			<key>spriteOffset</key>
			<string>{20, -12}</string>
			<key>spriteSize</key>
			<string>{76, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 124}, {76, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie7.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 24}, {74, 120}}</string>
			<key>spriteOffset</key>
			<string>{20, -12}</string>
			<key>spriteSize</key>
			<string>{74, 120}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{82, 0}, {74, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie8.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{67, 22}, {72, 122}}</string>
			<key>spriteOffset</key>
			<string>{20, -11}</string>
			<key>spriteSize</key>
			<string>{72, 122}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 248}, {72, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombie9.tiff</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 22}, {68, 122}}</string>
			<key>spriteOffset</key>
			<string>{20, -11}</string>
			<key>spriteSize</key>
			<string>{68, 122}</string>
			<key>spriteSourceSize</key>
			<string>{166, 144}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 372}, {68, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.8</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>PlantAndZombie</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>PlantAndZombie</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>